<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="options" type="AppLogic.Config.OptionConfigSection, AppLogic" allowExeDefinition="MachineToRoamingUser" />
    <section name="hotkeys" type="AppLogic.Config.HotkeyConfigSection, AppLogic" allowExeDefinition="MachineToRoamingUser" />
  </configSections>

  <hotkeys>
    <!-- 
    Mods: Alt = 1, Ctrl = 2, Shift = 4, Win = 8; 
    For mods,see https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-registerhotkey
    For vkey, see https://docs.microsoft.com/en-us/windows/win32/inputdev/virtual-key-codes
    -->
  </hotkeys>
  
</configuration>
