<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="options" type="AppLogic.Config.OptionConfigSection, AppLogic" allowExeDefinition="MachineToRoamingUser" />
    <section name="hotkeys" type="AppLogic.Config.HotkeyConfigSection, AppLogic" allowExeDefinition="MachineToRoamingUser" />
  </configSections>

  <options>
    <option name="notifySound" value="%windir%\Media\Windows Notify.wav" />
    <option name="currentFolder" value="%USERPROFILE%" />
    <option name="playNotificationSound" value="true" />
    <option name="removeClipboardFormatting" value="true" />
    <option name="pauseFormattingRemovalTimeout" value="2" />
    <option name="tabSize" value="2" />
  </options>

  <hotkeys>
    <!-- 
    Mods: Alt = 1, Ctrl = 2, Shift = 4, Win = 8; 
    For mods,see https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-registerhotkey
    For vkey, see https://docs.microsoft.com/en-us/windows/win32/inputdev/virtual-key-codes
    -->
    <hotkey name="PasteUnformatted" menuItem="Paste Unformatted" mods="0x6" vkey ="0x2D" />
    <hotkey name="PasteUnindented" menuItem="Paste Unindented" mods="0x9" vkey="'V'" />
    <hotkey name="PasteUnindentedUntabified" menuItem="Paste Unindented, Untabified" mods="0x9" vkey="'Z'" />
    <hotkey name="PasteAsSingleLine" menuItem="Paste as Single Line" mods="0x8" vkey="0x2D" />
    <hotkey name="PasteAsNumber" menuItem="Paste as Decimal &amp;Number" mods="0xC" vkey="0x2D" />
    <hotkey name="PasteToNotepad" menuItem="Paste to Internal Notepad" mods="0x1" vkey="0x2D" />
    <hotkey name="OpenNotepad" menuItem="Open Internal Notepad" mods="0x8" vkey="0xDC" />
    <hotkey name="OpenUrl" menuItem="&amp;Open URL from Clipboard" mods="0xC" vkey="'O'" />
    <hotkey name="RunVSCode" menuItem="Open Visual Studio Co&amp;de" mods="0xC" vkey="'D'" />
    <hotkey name="RunWindowsTerminal" menuItem="Open Windows T&amp;erminal" mods="0xC" vkey="'E'" />
    <hotkey name="RunWindowsTerminalAsAdmin" menuItem="Open &amp;Admin Windows Terminal" mods="0xC" vkey="'A'" />
    <hotkey name="PresentationSettings" menuItem="P&amp;resentation Settings" mods="0xC" vkey="'R'" />
    <hotkey name="ShowMenu" mods="0x8" vkey="0x79"/>
    <hotkey name="InsertGuid" menuItem="Insert &amp;Guid" isScript="true">
      <!-- this is an example of a C# scriptlet handler -->
      <![CDATA[
        await Host.FeedTextAsync(Guid.NewGuid().ToString("B").ToUpper(), Token);
      ]]>
    </hotkey>
  </hotkeys>
  
</configuration>
