<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="options" type="AppLogic.Config.OptionConfigSection, AppLogic" allowExeDefinition="MachineToRoamingUser" />
    <section name="hotkeys" type="AppLogic.Config.HotkeyConfigSection, AppLogic" allowExeDefinition="MachineToRoamingUser" />
  </configSections>

  <options>
    <option name="notifySound" value="%windir%\Media\Windows Notify.wav" />
    <option name="currentFolder" value="%USERPROFILE%" />
    <option name="playNotificationSound" value="true" />
    <!-- toggled from the tray menu; the choice is saved to the Roaming config -->
    <option name="removeClipboardFormatting" value="true" />
    <option name="tabSize" value="2" />
  </options>

  <hotkeys>
    <!-- 
    Mods: Alt = 1, Ctrl = 2, Shift = 4, Win = 8; 
    For mods,see https://docs.microsoft.com/en-us/windows/win32/api/winuser/nf-winuser-registerhotkey
    For vkey, see https://docs.microsoft.com/en-us/windows/win32/inputdev/virtual-key-codes
    -->
    <!-- 0xDC is VK_OEM_5, the "\|" key next to "]" -->
    <hotkey name="PasteAsSingleLine" menuItem="Paste Unformatted &amp;Single Line" mods="0x8" vkey="0xDC" />
    <hotkey name="PasteShellCommandAsSingleLine" menuItem="Paste Shell &amp;Command as Single Line" mods="0xA" vkey="0xDC" />
    <hotkey name="PasteUnformatted" menuItem="Paste &amp;Unformatted" mods="0x9" vkey="0xDC" />
    <hotkey name="PasteAsNumber" menuItem="Paste as Decimal &amp;Number" mods="0x9" vkey="'N'" />
    <hotkey name="PasteToNotepad" menuItem="Paste to &amp;Internal Notepad" mods="0xD" vkey="0xDC" />
    <hotkey name="PasteUnindented" menuItem="Paste Unindented" />
    <hotkey name="PasteUnindentedUntabified" menuItem="Paste Unindented, Untabified" />
    <!-- no mods/vkey: menu item only, no hotkey -->
    <hotkey name="ConvertToPreformattedHtml" menuItem="Convert to &lt;pre&gt;" />
    <hotkey name="OpenNotepad" menuItem="Open Internal Note&amp;pad" mods="0x9" vkey="'P'" />
    <hotkey name="OpenUrl" menuItem="Open &amp;URL from Clipboard" mods="0x9" vkey="'U'" />
    <hotkey name="RunVSCode" menuItem="&amp;Open Visual Studio Code" mods="0x9" vkey="'O'" />
    <hotkey name="RunWindowsTerminal" menuItem="Open Windows T&amp;erminal" mods="0x9" vkey="'E'" />
    <hotkey name="RunWindowsTerminalAsAdmin" menuItem="Open &amp;Admin Windows Terminal" mods="0xD" vkey="'E'" />
    <hotkey name="PresentationSettings" menuItem="P&amp;resentation Settings" />
    <!-- an action can have more than one hotkey: repeat the name -->
    <hotkey name="ShowMenu" mods="0x8" vkey="0x79"/>
    <hotkey name="ShowMenu" mods="0x9" vkey="0xBE"/>
    <hotkey name="InsertGuid" menuItem="Insert &amp;Guid" />
  </hotkeys>
  
</configuration>
